.analyst-perspectives {
  text-align: center;
  background-color: #f3f4f6; /* Light gray background */
  padding: 40px;
}

.analyst-perspectives h3 {
  color: #d22e2e;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.analyst-perspectives h1 {
  font-size: 35px;
  color: #333;
  margin: 10px 0 40px;
}

.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.card a {
  color: #6b00ff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.card a:hover {
  text-decoration: underline;
}
