header {
  display: flex;
  justify-content:flex-end;
  align-items:baseline;
  z-index: 999;
}
.logo-mobile{
  display: none;
}
.social-media{
  display: flex;
}
.social-media a{
  background-color: white;
  width: 33px;
  height: 33px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;

  border-radius: 30px;
  padding:0 5px;
}
.social-media a:hover{
  background-color: #0ad6ff;
}
.social-media a img{
  width: 25px;
  height: 25px;
}
header .navbar1 {
  display: none;
}

header .location,
header .phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .location p,
header .phone p {
  text-align: center;
}
header .phone .contact-info{
  background-color: rgba(0, 65, 100, 0.753);
  padding: 0 20px;
  border-radius: 5px 20px;
  box-shadow: 0 0 3px 0 rgb(148, 148, 148);
  border: none;
}
header .phone .contact-info:hover{
  transition: 0.3s ease;
  box-shadow: 0 0 20px 0 rgb(0, 65, 100);
  background-color: aliceblue;
  color: rgb(0, 52, 115);
  border-radius: 20px 5px;
}


@media (max-width: 767px) {
  header .logo-text {
    display: none;
  }
  header {
    height: auto;
    padding: 0;
    z-index: 999;
    top: 0;
    position: sticky;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 5px 0 grey;
    padding: 5px 0;
    
  }
  header .navbar1 {
    display: block;
    overflow-x: hidden;
    border-radius: 16px;
  }
  .yt,
  header .location,
  header .phone {
    display: none;
  }

  header .logo img {
    width: 60px;
    height: 60px;
    transform: scale(1.6);
    object-fit: cover;
  }

  header p {
    font-size: 14px;
  }
}
@keyframes slide-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar {
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.navbar .logo img {
  width: 60px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px; 
  color: #00478a;

}

nav a:hover {
  background-color: rgb(48, 158, 255);
  color:#fff;
}

nav ul {
  list-style: none;
}

nav ul ul {
  display: none;
}

nav ul li:hover {
  display: block;
}

.responsive {
  display: none;
}

.menu-icon {
  cursor: pointer;
  padding: 3px 7px;
  box-shadow: 0 0 5px 0 grey;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-icon .bar {
  width: 45px;
  height: 3px;
  margin: 6px 0;
  background-color: rgb(0, 60, 100);
  transition: 0.4s;
  z-index: 10;
}

.menu-icon .bar1 {
  width: 35px;
  height: 3px;
  background-color: rgb(0, 60, 100);
  margin: 6px 0;
  transition: 0.4s;
  z-index: 10;
}

.show {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  z-index: 10;
}

.menu-icon.close div:nth-child(1) {
  transform: rotate(-45deg) translate(-14px, 6px);
}

.menu-icon.close div:nth-child(2) {
  opacity: 0;
}

.menu-icon.close div:nth-child(3) {
  transform: rotate(45deg) translate(-14px, -6px);
}

.show-navitems {
  margin: 0 10px;
  text-decoration: none;
  color: #00478a;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 8px 16px;
  transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 28.5px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 15px 0;
}

.dropdown-content a {
  color: black;
  padding: 8px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #080080;
}
#arrow{
  display: inline-block;
  padding: 0 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover #arrow{
  transform: rotate(180deg);
  transition: transform 0.6s ease;
}

@media (max-width: 800px) {
  .navbar {
    top: 5px;
  }
  .menu-icon {
    cursor: pointer;
    padding: 2px 6px;
    box-shadow: none;
    backdrop-filter: blur(3px);
  }

  .menu-icon div {
    width: 27px;
    height: 2.5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
    z-index: 10;
  }

  nav {
    display: none;
  }

  .responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
  }

  .navbar {
    display: none;
  }

  .responsive .menu-icon {
    margin-right: 20px;
  }
  .logo-mobile{
    display: block;
    padding: 2px 10px;
  }
  .logo-mobile img{
    width: 50px;
  }

  .show {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 90vh;
    background-color: rgba(0, 33, 72, 1);
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    animation: slide-left 1s;
  }

  .show-navitems {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 26px;
    border-radius: 5px;
    margin: 20px 15px;
  }

  .dropdown{
    margin: 20px 15px;
    margin-left: 0;
    padding-left: 0;
  }
}